Source: ros-noetic-rviz-camera-stream
Section: misc
Priority: optional
Maintainer: Lucas Walter <wsacul@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-noetic-catkin, ros-noetic-image-transport, ros-noetic-roscpp, ros-noetic-roslint, ros-noetic-rviz, ros-noetic-sensor-msgs
Homepage: https://github.com/lucasw/rviz_camera_stream
Standards-Version: 3.9.2

Package: ros-noetic-rviz-camera-stream
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-noetic-roscpp, ros-noetic-rviz, ros-noetic-tf
Description: Publish a camera view as rendered by rviz on an Image topic
